<div class="header">
  <div class="title">
    <%= link_to "Share App", root_path, style:"text-decoration: none;" %>
  </div>
  <div class="header_R">
    <div class="user_name">
      <b>ようこそゲストさん</b>
    </div>
    <div>
      <a href="#" class="btn-shared">ログイン</a>
    </div>
  </div>
</div>