// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.outer_frame {
  width: 76%;
  height: 100vh;
  margin: auto;
}

.index_body {
  display: flex;
  width: 100%;
  height: 600px;

  &_map {
    width: calc(100% - 300px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-135deg, #069df5, #8c04ec);

    &_area {
      width: 96%;
      height: 96%;
      background-color: rgb(205, 50, 115);
    }
  }

  &_menu {
    width: 300px;
    padding: 10px;
    background: linear-gradient(-135deg, #069df5, #8c04ec);

    &_1 {
      width: 90%;
      height: 150px;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(32, 206, 206);
      background-color: rgb(28, 5, 82);
    }

    &_2 {
      width: 90%;
      margin: 10px;
      display: flex;
      //background-color: rgb(209, 241, 209);
    }

  }
}

.search_btn {
  width: 100px;
  height: 100px;
  margin: 10px;
}